# Ignore compiled class files
*.class

# Ignore Quarkus build directories
target/
.quarkus/

# Ignore logs
*.log

# Ignore BlueJ files
*.ctxt

# Ignore Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore virtual machine crash logs
hs_err_pid*
replay_pid*

# Ignore Node.js dependencies (add more entries if needed)
task-portal-frontend/node_modules/

# Ignore build artifacts for React
task-portal-frontend/dist/
task-portal-frontend/*.js.map

# Ignore files generated during the build
task-portal-frontend/.DS_Store
task-portal-frontend/Thumbs.db